<section class="business-form">
  <h2>Edit Your Business</h2>

  <small>* Please Note: it will take 24 hours for edits to be reviewed by a moderator.</small>

  <%= render partial: 'form', locals: { business: @business, verb: "Edit" } %>
</section>