<h2>Edit Your Business</h2>

<p>* Please Note: it will take 24 hours for edits to be reviewed by a moderator.</p>

<p>Google Map Plugin</p>

<%= render partial: 'form', locals: { business: @business, verb: "Edit" } %>