<section class="log-in">
  <h3>Log In</h3>
  <p>Please enter your email address and password to log in.</p>

  <form class="user-edit-form" action="<%= session_url %>" method="POST">
    <%= form_token %>

    <label for="email">Email</label>
    <input type="text" id="email" name="user[email]">

    <label for="password">Password</label>
    <input type="password" id="password" name="user[password]">

    <a href="#">Forgot your password?</a>
    <input type="submit" class="demo" value="Demo User">
    <input type="submit" value="Log In">
  </form>

  <p><small>
    By logging in you agree to YelpLite’s <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.
  </small></p>
<section>

<section class="sign-up">
  <h3>No Account Yet?</h3>
  <p class="last-p">That's okay, we still love you.</p>

  <%= button_to "Sign Up", new_user_url, class: "sign-up-button", method: :get %>

  <p><small>
    YelpLite is the fun and easy way to find, review and talk about what's great - and not so great - in your local area. It's about real people giving their honest and personal opinions on everything from restaurants and spas to coffee shops and bars.
  </small></p>
</section>
<script>
  $(".demo").click(function(event) {
    event.preventDefault();

    $(".user-edit-form :input#email").val("demo@example.com");
    $(".user-edit-form :input#password").val("secret");
  });
</script>