<footer class="footer">
  <div class="footer-wrap group">
    <nav class="footer-links">
      <ul>
        <li>
          <h3>About</h3>
          <ul>
            <li><a href="#">About YelpLite</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </li>
        <li>
          <h3>Help</h3>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Content Guidelines</a></li>
            <li><a href="#">Contact YelpLite</a></li>
          </ul>
        </li>
        <li>
          <h3>More</h3>
          <ul>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Top Searches</a></li>
          </ul>
        </li>
      </ul>
    </nav>

    <div>
      <%= image_tag "new_footer.png", class: "footer-image"  %>
    </div>
  </div>
</footer>