<h2>YelpLife "Neighborhood"</h2>

<ul class="neighborhoods">
  <li><a href="#">N1</a></li>
  <li><a href="#">N2</a></li>
  <li><a href="#">N3</a></li>
  <li><a href="#">N4</a></li>
  <li><a href="#">N5</a></li>
  <li><a href="#">More Cities &raquo;</a></li>
</ul>

<section class="content">
  <div class="next-review">
    <h1>Your Next Review Awaits</h1>

    <div class="biz-thumb">Business Photo</div>
    <%= render partial: 'shared/insert_review', locals: { review: Review.new, business: @business } %>
  </div>

  <div class="recent-activity">
    <h1>Recent Activity</h1>

    <%= render partial: 'reviews' %>
  </div>
</section>

<section class="sidebar">
  <article>
      <h2>Review of the Day</h2>
      <p> review text </p>
      <a href="#">Archive</a>
  </article>

  <p>My Ad</p>
</section>
