<div id="content"></div>

<script type="application/json" id="bootstrapped-data">
  <%= render(partial: 'root.json').html_safe %>
</script>

<script>
  $(document).ready(function(){
    YelpLite.initialize({
      currentUserID: <%= current_user.try(:id) || 'null' %>,
      $rootEl: $('#content'),
      bootstrappedData: JSON.parse($("#bootstrapped-data").html())
    });
  });
</script>