<div class="content"></div>

<script type="application/json" id="bootstrapped-data">
  <%= render(partial: 'root.json').html_safe %>
</script>

<script>
  $(document).ready(function(){
    YelpLite.initialize({
      currentUser: <%= current_user || 'null' %>,
      $rootEl: $('.content'),
      bootstrappedData: JSON.parse($("#bootstrapped-data").html())
    });
  });
</script>