<% if @results %>
  <div class="header">
    <h2><strong><%= params[:query][:find] %></strong> <%= params[:query][:near] %></h2>
  </div>
  
  <div class="search-results">
    <ul>
      <% @results.map(&:searchable).each do |result| %>
        <li><%= render result %></li> <!-- calls partial -->
      <% end %>
    </ul>
  </div>

  <%= paginate @results %>
<% end %>