/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*
  COLOR SCHEME
  GREY:   #C0C0C0
  YELLOW: #FFFFBE
  BLUE:   #003264
  FONT: VERDANA
  SIZE:   16PX
*/

/* --- RESET --- */

html, body, header, footer, section, article, div,
strong, a, img, p, nav, h1, h2, h3, h4, ul, li, small,
form, label {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* --- ELEMENTS --- */

body {
  font-family: verdana;
  background: #C0C0C0;
  color: #333;
  font-size: 16px;
  line-height: normal;
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
}

body::after {
  content: "";
  background: url('fireworks_background.jpeg');
  background-size: cover;
  opacity: 0.05;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #003264;
}

strong {
  font-weight: bold;
}

small {
  font-size: 12px;
}

img {
  display: block;
}

input[type="text"], input[type="password"], input[type="submit"],
/*input[type="checkbox"],*/ input[type="radio"],  input[type="file"],
button,
textarea {
  display: inline-block;
  box-sizing: content-box;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
}

/* --- UTILITIES --- */

.group:after {
 content: "";
 display: block;
 clear: both;
}

a.cancel {
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #003264;
}

a:hover {
  text-decoration: underline;
}

a.no-underline:hover {
  text-decoration: none;
}

/* --- HEADER --- */

.header {
  background-image: url('header_stars.png');
  background-color: #003264;
  margin-top: 1px;
}

.header-wrap {
  position: relative;
  width: 900px;
  margin: auto;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.header-logo {
  float: left;
}

.header-logo > a {
  display: block;
  font-size: 24px;
  font-weight: bold;
  padding: 20px 20px 30px 20px;
  color: #FFFFBE;
}

.header-middle {
  position: absolute;
  width: 600px;
  top: 0;
  left: 200px;
}

.search-form {
}

.search-form > .post-form-input {
  float: left;
  background: #fff;
  margin: 10px 15px 0 0;
  padding: 1px;
}

.search-form > .post-form-input:hover {
  border: 1px solid #333;
  padding: 0;
}

.search-form > .post-form-input > label {
  display: inline-block;
  font-weight: bold;
  padding: 0 0 0 5px;
}

.search-form > .post-form-input > input[type="text"] {
  padding: 5px;
  width: 150px;
}

.search-form > .post-form-submit > input[type="submit"] {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-top: 15px;
  border-radius: 5px;
  background: url('search.png') no-repeat scroll 0 0;
  background-color: #fff;
  background-size: cover;
}

.search-form > .post-form-submit > input[type="submit"]:hover {
  background-color: #eee;
}

.header-nav {
  float: left;
}

.header-nav > ul > li {
  float: left;
  margin-top: 5px;
}

.header-nav > ul > li > a {
  padding: 5px 10px;
  margin: 0 10px 0 0;
  font-size: 12px;
  color: #fff;
}

.header-nav > ul > li > a:hover {
  background: rgba(34,34,34,0.7);
  border-radius: 10px;
}

.header-buttons {
  float: right;
  position: relative;
  margin: 10px 50px 0 0;
}

.header-buttons > .user-thumb {
}

.header-buttons > .header-dropdown {
}

.header-buttons > .header-sessions {
  padding: 10px 40px 10px 0;
}

.header-buttons > .header-sessions > .header-sign-up {
  display: block;
  border: 3px solid #333;
  border-radius: 5px;
  padding: 5px 15px;
  margin-bottom: 5px;
  background: #fff;
  color: #333;
  font-size: 12px;
  font-weight: bold;
}

.header-buttons > .header-sessions > .header-sign-up:hover {
  background: #eee;
}

.header-buttons > .header-sessions > .header-log-in {
  color: #fff;
  margin: auto;
  padding: 0 0 0 23px;
  font-size: 12px;
  font-weight: bold;
}

.header-buttons > .header-user-thumb {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.header-buttons > .header-user-thumb > img {
  width: 45px;
  height: 45px;
  border: 1px solid #333;
  float: right;
}

.header-buttons > .header-dropdown {
  display: none;
  position: absolute;
  top: 45px;
  right: 0;
  border: 1px solid #333;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.header-dropdown.show{
  display: block;
}

.header-buttons > .header-dropdown > li {
  display: block;
  width: 100px;
  background: #c0c0c0;
  font-size: 12px;
  padding: 5px 15px;
}

.header-buttons > .header-dropdown > li:not(:last-child) {
  border-bottom: 1px solid #333;
}

.header-buttons > .header-dropdown > li:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.header-buttons > .header-dropdown > li:first-child {
  border-top-left-radius: 5px;
}

.header-buttons > .header-dropdown > li:hover {
  cursor: pointer;
  background: #eee;
}

.header-buttons > .header-dropdown > li > a.no-underline {
  color: #003264;
}

.header-buttons > .header-dropdown > li > a > button {
  background: #fff;
}
/* --- ERRORS and NOTICES --- */

.errors {
  width: 860px;
  padding: 20px;
  margin: auto;
  background: #fff;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

/* --- CONTENT --- */

.content {
  width: 860px;
  padding: 20px;
  margin: auto;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.content > .home-content {
}

.content > .home-content > .next-review {
  padding: 20px;
}

.next-review > h1 {
  border-top: 1px solid #ccc;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
}

.next-review > .biz-thumb {
  float: left;
  width: 50px;
  height: 50px;
  padding: 0 0 0 20px;
}

.next-review > .biz-thumb > img {
  width: 50px;
  height: 50px;
}

.review-form {
  padding: 0 0 0 100px;
  margin-bottom: 25px;
  position: relative;
}

.review-form > .biz-name {
  margin-bottom: 5px;
}

.review-form > .review-box {
  display: inline-block;
  float: left;
  background: transparent;
  cursor: pointer;
  padding: 0 10px;
}

.review-form > .color {
  background: #FFFFBE;
  color: #003264;
}

.review-form > .review-box:hover + label {
}

.review-form > .review-words {
  display: none;
  float: right;
  padding: 0 350px 0 0;
  text-align: center;
  font-size: 12px;
  font-style: italic;
}

.review-form > .review-show-words {
  display: inline;
}

.review-form > input[type="radio"] {
  display: none;
}

.review-form > textarea {
  width: 400px;
  max-width: 400px;
  height: 40px;
  border: 1px solid #ccc;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 0;
}

.review-form > textarea:hover {
  border: 1px solid #003264;
}

.review-form > .show {
  height: 100px;
  max-height: 100px;
}

.review-form > .show + a {
 display: inline-block;
}

.review-form > .show +  .form-buttons {
 display: inline-block;
 margin-right: 320px;
}

.review-form > .form-buttons {
  display: none;
  float: right;
}

.review-form > .form-buttons > input[type="submit"] {
  cursor: pointer;
  float: left;
  background: #003264;
  padding: 10px 15px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-bottom: 2px solid #ccc;
  border-radius: 5px;
}

.review-form > .form-buttons > a {
  float: left;
  margin: 5px 10px;
}

.content > .home-content > .recent-activity {
  padding: 20px;
}

.content > .home-content > .recent-activity > h1 {
  border-top: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: bold;
}

.review {
  border-top: 1px solid #ccc;
  padding: 20px 0 5px 0;
}

.review > .user-thumb {
  float: left;
  width: 50px;
  height: 50px;
  padding: 0 0 0 20px;
}

.review > .user-thumb > a > img {
  width: 50px;
  height: 50px;
}

.review > .review-info {
  position: relative;
  padding: 0 0 0 100px;
}

.review > .review-info > .review-headline {
  margin-bottom: 10px;
}

.review > .review-info > .review-edit {
  float: right;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 20px;
}

.review > .review-info > .review-remove {
  cursor: pointer;
  float: right;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  background: #003264;
  padding: 5px 10px;
  border-radius: 5px;
}

.review > .review-info > .review-remove:hover {
  background: #333;
}

.review > .review-info > .review-remove .review-remove-button {
  cursor: pointer;
}

.review > .review-info > .time-ago {
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  font-size: 12px;
  color: #aaa;
  text-align: right;
}

.review > .review-info > .review-rating {
  float: left;
}

.review > .review-info > .review-date {
  padding: 3px 0 5px 130px;
  margin-bottom: 10px;
  color: #aaa;
  font-size: 12px;
  font-weight: bold;
}

.review > .review-info > .review-content {
  width: 500px;
  margin-bottom: 20px;
}

/* --- USER SHOW --- */

.user-profile {

}

.user-profile > .user-greeting {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 20px;
}

.user-profile > .user-greeting > h2 {
  float: left;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
}

.user-profile > .user-greeting > .nickname {
  font-size: 12px;
  padding: 25px 0;
  float: left;
}

.user-profile > .user-info {
}

.user-profile > .user-info > .user-thumb {
}

.user-profile > .user-info > .user-data {
}

.user-profile > .user-info > .user-data > li {
}

.user-profile > .user-reviews {
}

.user-profile > .user-reviews > h4 {
}

.user-profile > .user-reviews > .reviews {
}

/* --- BUSINESS SHOW --- */

.biz-show {
  padding: 20px;
}

.biz-show > h2 {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.biz-show > .biz-header {
  position: relative;
  margin-bottom: 40px;
}

.biz-show > .biz-header > .biz-thumb {
  float: left;
  padding: 0 20px;
  width: 200px;
  height: 200px;
}

.biz-show > .biz-header > .biz-thumb > img {
  width: 200px;
  height: 200px;
}

.biz-show > .biz-header > .biz-buttons {
  float: right;
  padding: 0 20px;
  margin-bottom: 20px;
}

.biz-show > .biz-header > .biz-buttons > li {
  cursor: pointer;
  float: left;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  background: #003264;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
}

.biz-show > .biz-header > .biz-buttons > li:hover {
  background: #333;
}

.biz-show > .biz-header > .biz-buttons > .biz-review-button {
  color: #FFFFBE;
  padding: 10px 20px;
  margin-right: 10px;
}

.biz-show > .biz-header > .biz-buttons > li .biz-button {
  cursor: pointer;
}

.biz-show > .biz-header > .biz-buttons > li .biz-review-button {
  cursor: pointer;
}

.biz-show > .biz-header > .biz-owner-buttons {
  float: right;
  padding: 0 20px;
  margin-bottom: 20px;
  margin-left: 100px;
}

.biz-show > .biz-header > .biz-owner-buttons > li {
  cursor: pointer;
  float: left;
  padding: 5px 10px;
  margin: 0 5px;
  font-weight: bold;
  font-size: 12px;
  color: #003264;
  background: #ccc;
  border-radius: 5px;
  border: 1px solid #003264;
}

.biz-show > .biz-header > .biz-owner-buttons > li:hover {
  background: #fff;
}

.biz-show > .biz-header > .biz-owner-buttons > li .biz-button {
  cursor: pointer;
}

.biz-show > .biz-header > .biz-owner-buttons > li > a {
  color: #003264;
}

.biz-show > .biz-header > .map {
  float: right;
  width: 200px;
  height: 200px;
  margin-right: 35px;
  border: 5px solid #003264;
}

.biz-show > .biz-header > .biz-ratings {
  position: absolute;
  top: 200px;
  left: 20px;
  padding: 30px 0px;
}

.biz-show > .biz-header > .biz-ratings > .biz-rating {
  float: left;
}

.biz-show > .biz-header > .biz-ratings > .biz-num-reviews {
  float: left;
  padding: 0 0 0 10px;
}

.biz-show > .business-reviews > .review {
  padding: 40px 20px 0 20px;
}

.biz-show > .business-reviews > h4 {
  border-top: 1px solid #ccc;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
}

.biz-show > .business-reviews .reviewer-location {
  font-size: 12px;
  color: #ccc;
  margin-bottom: 10px;
}

.biz-show > .business-reviews > p {
  border-top: 1px solid #ccc;
  padding: 20px;
}

/* --- BUSINESS FORM PAGE --- */

.business-form {
  padding: 20px;
}

.business-form > h2 {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
}

.business-form > small {
  display: block;
  padding: 20px 20px 10px 20px;
  font-weight: italic;
}

.business-form > .new-biz-form {
  padding: 0px 20px 20px 20px;
}

.business-form > .new-biz-form > label {
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.business-form > .new-biz-form > input {
  cursor: pointer;
}

.business-form > .new-biz-form > input[type="text"] {
  display: block;
  border: 1px solid #ccc;
  height: 20px;
  width: 400px;
  margin-bottom: 20px;
  padding: 5px;
}

.business-form > .new-biz-form > input[type="text"]:hover {
  border: 1px solid #003264;
}

.business-form > .new-biz-form > .checker {
  cursor: pointer;
  display: inline-block;
  float: left;
  margin-right: 20px;
}

.business-form > .new-biz-form > .checker-label {
  cursor: pointer;
  width: 350px;
  margin-bottom: 20px;
  padding: 0 0 0 40px;
}

.business-form > .new-biz-form > input[type="file"] {
  display: block;
}

.business-form > .new-biz-form > .biz-file {
  margin-bottom: 20px;
}

.business-form > .new-biz-form > .next-review {
  margin-left: -100px;
  padding: 0;
}

.business-form > .new-biz-form > .biz-bottom {
  width: 400px;
  float: left;
}

.business-form > .new-biz-form > .biz-bottom > .biz-form-buttons {
  float: right;
}

.business-form > .new-biz-form > .biz-bottom > .biz-form-buttons > .cancel {
  padding: 10px;
}

.business-form > .new-biz-form > .biz-bottom  > .biz-form-buttons > .submit-biz {
  cursor: pointer;
  float: right;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  background: #003264;
  padding: 5px 10px;
  border-radius: 5px;
}

.business-form > .new-biz-form > .biz-bottom  > .biz-form-buttons > .submit-biz:hover {
  background: #333;
}

/* --- REVIEW FORM --- */

.review-portion {
  width: 500px;
  float: left;
  padding: 0 20px 0 0;
  border-right: 1px solid #ccc;
}

.review-portion > .review-biz-info > h3 {
  border-bottom: 1px solid #ccc;
  padding: 0 20px 20px 20px;
  font-size: 24px;
  font-weight: bold;
}

.review-portion > .review-biz-info > .review-biz-header > .biz-thumb {
  float: left;
  padding: 20px;
  width: 150px;
  height: 150px;
}

.review-portion > .review-biz-info > .review-biz-header > .biz-thumb > img {
  width: 150px;
  height: 150px;
}

.review-biz-info > .review-biz-header > .business-address {
  float: right;
  padding: 20px;
  color: #ccc;
  width: 200px;
}

.review-portion > .review-biz-info > .your-review {
  border-top: 1px solid #ccc;
  padding: 20px;
}

.review-biz-info > .review-form {
  padding: 20px;
}

.review-biz-info > .review-form > small {
  display: block;
  padding: 20px 20px 10px 20px;
  font-weight: italic;
}

.review-sidebar {
  float: right;
  width: 300px;
}

.review-sidebar > h4 {
  padding: 0 20px 20px 20px;
  font-weight: bold;
}

.review-sidebar > .reviews > li > .review-info > .review-content {
  width: 300px;
}

/* --- BUSINESS && REVIEW DELETE CONFIRMATION --- */

.delete-confirm {
  width: 600px;
  margin: auto;
  margin-bottom: 20px;
  padding: 20px;
}

.delete-confirm > h3 {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.delete-confirm > .delete-remove {
  cursor: pointer;
  float: right;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  background: #003264;
  padding: 5px 10px;
  border-radius: 5px;
}

.delete-confirm > .delete-remove:hover {
  background: #333;
}

.delete-confirm > p {
  padding: 20px;
}

.delete-confirm > .delete-remove .delete-remove-button {
  cursor: pointer;
}

.delete-confirm > .cancel {
  padding: 5px 20px;
  float: right;
}

/* --- SEARCH PAGE --- */

.search {
}

.search > .search-header {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 24px;
}

.search > .search-header > h2 {
}

.search > .search-results {
  float: left;
  width: 600px;
}

.search > .search-pagination {
}

.search > .map {
  float: right;
  width: 200px;
  margin-top: 20px;
  margin-right: 50px;
}

.search > .search-addresses {
  display: none;
}

.search > .search-names {
  display: none;
}

.search > .search-field {
  width: 600px;
  margin: auto;
  background: #c0c0c0;
  padding: 5px 0 15px 80px;
}

.search > h4 {
  padding: 20px;
}

.biz-listing {
  width: 550px;
  margin: auto;
}

.biz-listing > .biz-thumb {
  float: left;
  width: 100px;
  height: 100px;
}

.biz-listing > .biz-thumb > img {
  width: 100px;
  height: 100px;
}

.biz-listing > .biz-name {
  padding: 0 0 0 130px;
  margin-bottom: 10px;
}

.biz-listing > .write-review {
  cursor: pointer;
  float: right;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  background: #003264;
  padding: 5px 10px;
  border-radius: 5px;
}

.biz-listing > .write-review:hover {
  background: #333;
}

.biz-listing > .write-review > a {
  color: #fff;
}

.biz-listing > .biz-rating {
  float: left;
  display: inline-block;
  padding: 0 30px;
}

.biz-listing > .biz-ratings {
  margin-bottom: 10px;
}

.biz-listing > .biz-address {
  padding: 0 0 10px 0px;
  margin-left: 130px;
  margin-bottom: 10px;
  border-bottom: 1px solid #c0c0c0;
  color: #c0c0c0;
  font-size: 12px;
}

.biz-listing > .biz-review {
  margin-left: 130px;
}

.biz-listing > .biz-review > img {
  height: 50px;
  width: 50px;
  float: left;
}

.biz-listing > .biz-review > .biz-review-content {
  padding: 0 0 0 60px;
}
/* --- FOOTER --- */

.footer {
}

.footer-wrap {
  width: 900px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #333;
}

.footer-links {
  float: right;
  width: 900px;
  margin-bottom: 50px;
}

.footer-links > ul {
}

.footer-links > ul > li {
  float: left;
  padding: 15px 30px;
}

.footer-links > ul > li > h3 {
  font-size: 20px;
  font-weight: bold;
  float: left;
  color: #003264;
}

.footer-links > ul > li > ul {
  padding: 30px 0 0 80px;
}

.footer-links > ul > li > ul > li {
}

.footer-links > ul > li > ul > li > a {
  color: #222;
}

.footer-image {
  width: 100%;
  opacity: .8;
  height: auto;
}