/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* --- RESET --- */

html, body, header, footer, section, article, div,
strong, a, img, p, nav, h1, h2, h3, h4, ul, li, small,
form, label {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* --- ELEMENTS --- */

body {
  font-family: sans-serif;
  background: #eee;
  color: #333;
  font-size: 16px;
  line-height: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

small {
  font-size: 12px;
}

img {
  display: block;
}

input[type="text"], input[type="password"], input[type="submit"],
/*input[type="checkbox"],*/ input[type="radio"], input[type="file"],
button,
textarea {
  display: inline-block;
  box-sizing: content-box;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
}

/* --- UTILITIES --- */

.group:after {
 content: "";
 display: block;
 clear: both;
}

a.cancel {
  padding: 5px;
  color: #0000FF;
}

/* --- HEADER --- */

.header {
  background: #777;
  margin-top: 1px;
}

.header-wrap {
  position: relative;
  width: 900px;
  margin: auto;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.header-logo {
  float: left;
}

.header-logo > a {
  display: block;
  font-size: 24px;
  font-weight: bold;
  padding: 20px 20px;
  color: #fff;
}

.header-middle {
  position: absolute;
  width: 600px;
  top: 0;
  left: 200px;
}

.search-form {
  margin-top: 10px;
  padding: ;
}

.search-form > .post-form-input {
  float: left;
  background: #fff;
  margin: 0 15px 0 0;
}

.search-form > .post-form-input > label {
  display: inline-block;
  font-weight: bold;
  padding: 0 0 0 5px;
}

.search-form > .post-form-input > input[type="text"] {
  background: ;
  border: ;
  padding: 5px;
  width: 150px;
}

.search-form > .post-form-submit > input[type="submit"] {
  padding: 2px;
  background: #555;
  border: 1px solid #333;
  /* background image */
}

.header-nav {
  float: right;
}

.header-nav {
  float: left;
}

.header-nav > ul > li {
  float: left;
}

.header-nav > ul > li > a {
  display: block;
  padding: 10px 20px;
  font-size: 12px;
  color: #fff;
}

.header-buttons {
  float: right;
}

.header-buttons > .user-thumb {
}

.header-buttons > .header-dropdown {
}

.header-buttons > .header-sessions {
  padding: 10px 40px 10px 0;
}

.header-buttons > .header-sessions > .header-sign-up {
  display: block;
  border: 1px solid #333;
  padding: 2px;
  margin-bottom: 5px;
  background: #555;
  color: #fff;
}

.header-buttons > .header-sessions > .header-log-in {
  color: #fff;
  margin: auto;
  padding: 0 0 0 10px;
}

/* --- ERRORS and NOTICES --- */

.errors {
  width: 860px;
  padding: 20px;
  margin: auto;
  background: #fff;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

/* --- CONTENT --- */

.content {
  width: 860px;
  padding: 20px;
  margin: auto;
  background: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.content > .home-content {
}

.content > .home-content > .next-review {
  padding: 20px;
}

.next-review > h1 {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.next-review > .biz-thumb {
  width: 50px;
  height: 50px;
}

.next-review > .biz-thumb > img {
  float: left;
  width: 50px;
  height: 50px;
}

.next-review > .review-form {
}

.next-review > .review-form > input[type="radio"] {
  width: 10px;
  height: 10px;
  background: #f99;
}

.next-review > .review-form > label {
  display: none;
}

.next-review > .review-form > textarea {
  width: 400px;
  height: 100px;
  border: 1px solid #ccc;
  padding: 5px;
  display: block;
  margin-bottom: 10px;
}

.next-review > .review-form > input[type="submit"] {
  background: #0c6;
  padding: 10px 15px;
  color: #fff;
  font-weight: bold;
  border-bottom: 2px solid #ccc;
}

.content > .home-content > .recent-activity {
  padding: 20px;
}

.content > .home-content > .recent-activity > h1 {
  border-top: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: bold;
}

.content > .home-content > .recent-activity > .review {
  border-top: 1px solid #ccc;
  padding: 20px 0 5px 0;
}

.recent-activity > .review {
  /* pull from pages partial - reviews */
}

</section>

/* --- FOOTER --- */

.footer {
}

.footer-wrap {
  width: 900px;
  margin: auto;
  margin-bottom: 30px;
  color: #333;
}

.footer-links {
  float: right;
  width: 900px;
  margin-bottom: 50px;
}

.footer-links > ul {
}

.footer-links > ul > li {
  float: left;
  padding: 15px 30px;
}

.footer-links > ul > li > h3 {
  font-size: 20px;
  font-weight: bold;
  float: left;
}

.footer-links > ul > li > ul {
  padding: 30px 0 0 80px;
}

.footer-links > ul > li > ul > li {
}

.footer-links > ul > li > ul > li > a {
  color: #333;
}

.footer-image {
  width: 100%;
  opacity: .7;
  height: auto;
}